$gradient1Color1: #e4815d;
$gradient1Color2: #fca959;
$gradient2Color1: #e5c28e;
$gradient2Color2: #d6ae7b;
$gradient3Color1: #0F2027;
$gradient3Color2: #203A43;
$gradient3Color3: #2C5364;
$blueColor: #0e6896;
$yellowColor: #ffd500;
$greyColor: #242b3b;
