@import "./index.module.scss";

.conCer
{
    width: 100%;
    height: 100vh;

    .certificates
    {
        height: 25vh;
        background-image: linear-gradient(180deg, $gradient3Color1, $gradient3Color2, $gradient3Color3);
        @media (max-width: 700px)
        {
            height: 40vh;
            display: flex;
        }
        @media (max-width: 500px)
        {
            height: 45vh;
        }
    
        .certificates-content
        {
            margin: auto;
            width: 80%;
            text-align: center;
            @media (max-width: 660px)
            {
                padding-top: 5%;
                padding-bottom: 5%;
            }
            @media (max-width: 606px)
            {
                padding-top: 7%;
                padding-bottom: 7%;
            }
            @media (max-width: 550px)
            {
                padding-top: 10%;
                padding-bottom: 5%;
            }
            @media (max-width: 512px)
            {
                padding-top: 11%;
            }
            @media (max-width: 500px)
            {
                padding: 0;
                margin-bottom: 3.5vh;
            }
            @media (max-width: 320px)
            {
                width: 100%;
            }
    
            .crtr1
            {
                padding: calc(2% + .5rem) 0% 2% 0%;
            }
    
            .button-visit,
            .crtr2
            {
                padding-bottom: 2%;
            }
    
            .button-visit
            {
                height: 70px;
                fill: #fff;
                transition: 0.6s cubic-bezier(1, 0, 0, 1);
                transition-property: initial;
                transition-duration: 1s;
                transition-timing-function: cubic-bezier(1, 0, 0, 1);
                transition-delay: initial;
                @media (max-width: 590px)
                {
                    height: 60px;
                }
                @media (max-width: 316px)
                {
                    height: 50px;
                }

                &:hover
                {
                    transform: scale(1.4);
                }
            }
        }
    }

    .contact
    {
        height: 75vh;
        background-image: linear-gradient(180deg, $gradient1Color1, $gradient1Color2);
        overflow: hidden;
        @media (max-width: 700px)
        {
            height: 60vh;
            display: flex;
        }
        @media (max-width: 500px)
        {
            height: 55vh;
        }

        .contact-content
        {
            width: 80%;
            margin: auto;
            text-align: center;
            @media (max-width: 304px)
            {
                width: 100%;
            }

            .contact-pnl-right
            {
                width: 45%;
                float: right;
                z-index: 10;
                @media (max-width: 700px)
                {
                    width: 100%;
                }

                .slide-in-top
                {
                    padding-top: 30%;
                    @media (max-width: 785px)
                    {
                        padding-top: 35%;
                    }
                    @media (max-width: 700px)
                    {
                        padding-top: 5%;
                    }

                    .button-visit
                    {
                        fill: $blueColor;
                        padding-top: 10%;
                        height: 110px;
                        width: auto;
                        transition: 0.6s cubic-bezier(1, 0, 0, 1);
                        transition-property: initial;
                        transition-duration: 1s;
                        transition-timing-function: cubic-bezier(1, 0, 0, 1);
                        transition-delay: initial;
                        @media (max-width: 800px)
                        {
                            height: 90px;
                        }
                        @media (max-width: 700px)
                        {
                            height: 110px;
                        }
                        @media (max-width: 590px)
                        {
                            height: 100px;
                        }
                        @media (max-width: 424px)
                        {
                            height: 85px;
                            padding-top: 8%;
                        }
                        @media (max-width: 354px)
                        {
                            padding-top: 0;
                            height: 60px;
                        }
                        @media (max-width: 316px)
                        {
                            height: 45px;
                        }

                        &:hover
                        {
                            text-decoration: none;
                            transform: scale(1.4);
                            fill: $yellowColor;
                        }
                    }
                }

                .slide-in-right
                {
                    padding-top: 200px;
                    font-family: "Bungee", cursive;
                    text-align: left;
                    @media (max-width: 970px)
                    {
                        padding-top: 230px;
                    }
                    @media (max-width: 940px)
                    {
                        padding-top: 190px;
                    }
                    @media (max-width: 785px)
                    {
                        padding-top: 150px;
                    }
                    @media (max-width: 700px)
                    {
                        padding-top: 100px;
                        padding-bottom: 50px;
                    }
                    @media (max-width: 660px)
                    {
                        padding-bottom: 0;
                    }
                    @media (max-width: 606px)
                    {
                        padding-top: 50px;
                    }
                    @media (max-width: 454px)
                    {
                        padding-bottom: 5px;
                    }
                    @media (max-width: 436px)
                    {
                        padding-bottom: 10px;
                    }
                    @media (max-width: 424px)
                    {
                        padding-top: 30px;
                    }
                    @media (max-width: 400px)
                    {
                        padding-bottom: 0;
                    }
                    @media (max-width: 386px)
                    {
                        padding-bottom: 10px;
                    }
                    @media (max-width: 360px)
                    {
                        padding-bottom: 0;
                        padding-top: 20px;
                    }
                    @media (max-width: 354px)
                    {
                        padding-top: 20px;
                    }
                    @media (max-width: 320px)
                    {
                        padding-bottom: 15px;
                    }
                    @media (max-width: 316px)
                    {
                        padding-bottom: 45px;
                    }
                    @media (max-width: 304px)
                    {
                        padding-bottom: 1px;
                    }

                    .list-1
                    {
                        display: inline-block;
                        list-style-type: none;
                    }
                }
            }

            .contact-pnl-left
            {
                width: 55%;
                float: left;
                margin-bottom: 0;
                height: 100%;
                @media (max-width: 700px)
                {
                    display: none;
                }

                .contact-image
                {
                    height: 100%;
                    
                    .contact-img
                    {
                        background-image: url(../images/swirl.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: left;
                        height: 700px;
                        z-index: 0;
                    }
                }
            }
        }
    }
}
