@import "./index.module.scss";

html, body
{
    height: 100vh;
    scroll-behavior: smooth;
}

.scroll-right
{
    position: absolute;
    top: calc(50vh - 53.5px);
    left: calc(97vw - 50px);
    transform: rotate(-90deg);
    width: 50px;
    height: auto;
    @media (max-width: 740px)
    {
        display: none !important;
    }
}

.scroll-left
{
    position: absolute;
    top: calc(50vh - 53.5px);
    left: 3vw;
    transform: rotate(90deg);
    width: 50px;
    height: auto;
    @media (max-width: 740px)
    {
        display: none !important;
    }
}

.main-port
{
    overflow: hidden;
    display: inline-flex;
    height: 100vh;

    .navbar
    {
        position: fixed;
        width: 100vw;
        height: 70px;
        z-index: 99998;
        top: 0;
        justify-content: normal;
        padding: 2%;

        a
        {
            padding-left: 2%;
            
            &:hover
            {
                transform: scale(1.05);
                color: $yellowColor;
            }
        }

        .language
        {
            border: none;
            position: fixed;
            padding-top: 2%;
            right: 3%;
            font-family: "Bungee", cursive;
            font-size: 21px;

            select
            {
                padding: 5px 8px;
                border: none;
                box-shadow: none;
                background: transparent;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                cursor: pointer;
                color: black;

                textarea
                {
                    font-family: "Bungee", cursive;
                }
            }
        }
    }

    .hero
    {
        height: 100vh;
        width: 100vw;
        background-image: linear-gradient(180deg, $gradient1Color1, $gradient1Color2);
        overflow: hidden;

        .hero-content
        {
            width: 80vw;
            height: 100vh;
            margin: auto;
            display: flex;

            .hero-div
            {
                margin: auto;
                height: 80vh;
                width: 80vw;
                text-align: center;
                overflow: hidden;

                h1
                {
                    color: $greyColor;
                    text-shadow: 1px 1px $yellowColor;
                    line-height: 1.5;
                    width: 100%;
                }

                img
                {
                    width: 80%;
                }

                .github-icon
                {
                    color: $greyColor;
                    transition: 0.6s cubic-bezier(1, 0, 0, 1);
                    transition-property: initial;
                    transition-duration: 1s;
                    transition-timing-function: cubic-bezier(1, 0, 0, 1);
                    transition-delay: initial;

                    &:hover
                    {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    .description
    {
        height: 100vh;
        width: 100vw;
        background-image: linear-gradient(180deg, $gradient2Color1, $gradient2Color2);
        overflow: hidden;
        display: flex;

        .desc-content
        {
            width: 80vw;
            height: 70vh;
            margin: auto;
            display: flex;
            overflow: scroll;

            .desc-div
            {
                margin: auto;
                width: 80vw;
            }
        }
    }
}
